doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://unpkg.com/purecss@0.6.2/build/pure-min.css', integrity='sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono')
    link(rel='stylesheet', href='http://tawian.io/text-spinners/spinners.css')
    script(src='http://popcorn-js.chrisdecairos.ca/build?applyclass&locale&parser&player&timeline-sources&parserJSON&parserSBV&parserSRT&parserSSA&parserTTML&parserTTXT&parserVTT&parserXML&soundcloud&vimeo&youtube&code&documentcloud&flickr&footnote&googlefeed&googlemap&image&mediaspawner&mustache&openmap&pause&subtitle&text&timeline&webpage&wikipedia&wordriver&MediaElementProto&HTMLMediaElement&HTMLNullVideoElement&HTMLSoundCloudAudioElement&HTMLVimeoVideoElement&HTMLYouTubeVideoElement', defer)
    script(src='/javascripts/script.js', defer)
    script(src='https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js', defer)

  body
    block content