body {
  font-size: 62.5%;
  font-family: 'Droid Sans Mono', monospace;
  font-weight: 400;
  line-height: 2.5em;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.form-wrapper {
  max-width: 50%;
}

h1 {
  font-size: 2.2em;
  margin: 0 0 1.13636363636em 0;
}

h3 {
  font-size: 1.8em;

}

p {
  font-size: 1.8em;
  margin: 0 0 1.38888888889em 0;
}

label, input, input[type=submit], input[type='file'] {
  font-size: 1.6em;
  margin: 0 0 1.5625em 0;
}

input[type=file] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: border-box;
}

audio {
  font-size: 1.6em;
  margin: 1.5625em 0;
}

.audio-section {
  margin: 0 0 1.5625em 0;
  cursor: move;
}

input[type=file]::-webkit-file-upload-button {
  border: none;
  margin: 0 5px;
  padding: 3px;
  -webkit-appearance: none;
  background: yellow;
}

input[type=submit] {
  margin: 20px 0 0 0;
}

pre {
  font-size: 14px;
  font-family: monospace;
  margin: 0 0 1.78571428571em 0;
}

.hide {
  display: none
}

.show {
  display: block
}

.audio-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.audio-section {
  flex: 1;
  margin: 0 10px 0 0;
}

.loading-wrapper {
  width: 10%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.opacity10 {
  opacity: 0.1;
}

.opacity20 {
  opacity: 0.2;
}

#footnote ~ div {
  position: relative!important;
  color: rgba(0, 0, 0, 0.8)!important;
  text-shadow: none!important;
  font-weight: normal!important;
  text-align: left!important;
  font-size: 15px!important;
  font-family: monospace;
  font-style: italic;
  width: 300px;
  top: auto!important;
  left: 0!important;
}

.visuallyhidden {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.loading {
  font-size: 15em;
}