body {
  font-size: 62.5%;
  font-family: 'Droid Sans Mono', monospace;
  font-weight: 400;
  line-height: 2.5em;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0 0;
}

.form-wrapper {
  max-width: 50%;
}

h1 {
  font-size: 2.2em;
  margin: 0 0 1.13636363636em 0;
}

h3 {
  font-size: 1.8em;

}

p {
  font-size: 1.8em;
  margin: 0 0 1.38888888889em 0;
}

label, input, input[type=submit], input[type='file']  {
  font-size: 1.6em;
  margin: 0 0 1.5625em 0;
}

input[type=file] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: border-box;
}

audio {
  font-size: 1.6em;
  margin: 1.5625em 0;
}

.audio-section {
  margin: 0 0 1.5625em 0;
  cursor: move;
}

input[type=file]::-webkit-file-upload-button {
  border: none;
  margin: 0 5px;
  padding: 3px;
  -webkit-appearance: none;
  background: yellow;
}

input[type=submit] {
  margin: 20px 0 0 0;
}

pre {
  font-size: 14px;
  font-family: monospace;
  margin: 0 0 1.78571428571em 0;
}

.hide {
  display: none
}

.show {
  display: block
}